# ignores following folders
bin/
BSPSceneManager/CMakeFiles
BSPSceneManager/obj
BSPSceneManager/Plugin_BSPSceneManager.dir
BSPSceneManager/cmake_install.cmake

OctreeSceneManager/CMakeFiles
OctreeSceneManager/obj
OctreeSceneManager/Plugin_OctreeSceneManager.dir
OctreeSceneManager/cmake_install.cmake

OgreMain/CMakeFiles
OgreMain/cmake_install.cmake

Paging/CMakeFiles
Paging/obj
Paging/OgrePaging.dir
Paging/cmake_install.cmake

Terrain/CMakeFiles
Terrain/obj
Terrain/OgreTerrain.dir
Terrain/cmake_install.cmake

RenderSystems/bin
RenderSystems/Direct3D11/CMakeFiles
RenderSystems/Direct3D11/obj
RenderSystems/Direct3D11/RenderSystem_Direct3D11.dir
RenderSystems/Direct3D11/cmake_install.cmake

RenderSystems/GL/CMakeFiles
RenderSystems/GL/obj
RenderSystems/GL/RenderSystem_GL.dir
RenderSystems/GL/cmake_install.cmake

Ogre/BSPSceneManager/Debug
Ogre/BSPSceneManager/Release

Ogre/CgProgramManager/Debug
Ogre/CgProgramManager/Release

Ogre/Direct3D9/Debug
Ogre/Direct3D9/Release

Ogre/Direct3D11/Debug
Ogre/Direct3D11/Release

Ogre/GL/Debug

Dependencies/bin
Dependencies/src/Cg-2.2/Debug

Dependencies/src/FreeImage-3.13.1/Source/FreeImageLib/Debug
Dependencies/src/FreeImage-3.13.1/Source/FreeImageLib/Release

Dependencies/src/FreeImage-3.13.1/Source/LibJPEG/Debug
Dependencies/src/FreeImage-3.13.1/Source/LibJPEG/Release

Dependencies/src/FreeImage-3.13.1/Source/LibMNG/Debug
Dependencies/src/FreeImage-3.13.1/Source/LibMNG/Release

Dependencies/src/FreeImage-3.13.1/Source/LibOpenJPEG/Debug
Dependencies/src/FreeImage-3.13.1/Source/LibOpenJPEG/Release

Dependencies/src/FreeImage-3.13.1/Source/LibPNG/Debug
Dependencies/src/FreeImage-3.13.1/Source/LibPNG/Release

Dependencies/src/FreeImage-3.13.1/Source/LibRawLite/Debug
Dependencies/src/FreeImage-3.13.1/Source/LibRawLite/Release

Dependencies/src/FreeImage-3.13.1/Source/OpenEXR/Debug
Dependencies/src/FreeImage-3.13.1/Source/OpenEXR/Release

Dependencies/src/FreeImage-3.13.1/Source/LibTIFF/Debug
Dependencies/src/FreeImage-3.13.1/Source/LibTIFF/Release

Dependencies/src/FreeImage-3.13.1/Source/ZLib/Debug
Dependencies/src/FreeImage-3.13.1/Source/ZLib/Release

Dependencies/src/ois-1.2.0/dll/debug
Dependencies/src/ois-1.2.0/dll/release

Dependencies/src/zlib-1.2.3/projects/visualc6/Win32_LIB_Debug
Dependencies/src/zlib-1.2.3/projects/visualc6/Win32_LIB_Release

Dependencies/src/zziplib-0.13.57/msvc8/Debug
Dependencies/src/zziplib-0.13.57/msvc8/Release
＃先决条件
* .d

＃编译的对象文件
* .slo
* .lo
* .o
* .obj
* .ilk
* .pdb
* .log
* .exp

＃预编译标题
* .gch
* .pch

＃编译动态库
* .so
* .dylib
* .dll

＃ Fortran的模块文件
* .mod
* .smod

＃编译静态库
* .lai
* .la
* .a
* .lib

＃可执行文件
* .exe
* .out
* .app
