# ignores following folders
bin/
BSPSceneManager/CMakeFiles
BSPSceneManager/obj
BSPSceneManager/Plugin_BSPSceneManager.dir
BSPSceneManager/cmake_install.cmake

OctreeSceneManager/CMakeFiles
OctreeSceneManager/obj
OctreeSceneManager/Plugin_OctreeSceneManager.dir
OctreeSceneManager/cmake_install.cmake

OgreMain/CMakeFiles
OgreMain/cmake_install.cmake

Paging/CMakeFiles
Paging/obj
Paging/OgrePaging.dir
Paging/cmake_install.cmake

Terrain/CMakeFiles
Terrain/obj
Terrain/OgreTerrain.dir
Terrain/cmake_install.cmake

RenderSystems/bin
RenderSystems/Direct3D11/CMakeFiles
RenderSystems/Direct3D11/obj
RenderSystems/Direct3D11/RenderSystem_Direct3D11.dir
RenderSystems/Direct3D11/cmake_install.cmake

RenderSystems/GL/CMakeFiles
RenderSystems/GL/obj
RenderSystems/GL/RenderSystem_GL.dir
RenderSystems/GL/cmake_install.cmake

Ogre/BSPSceneManager/Debug
Ogre/BSPSceneManager/Release

Ogre/CgProgramManager/Debug
Ogre/CgProgramManager/Release

Ogre/Direct3D9/Debug
Ogre/Direct3D9/Release

Ogre/Direct3D11/Debug
Ogre/Direct3D11/Release

Ogre/GL/Debug

＃先决条件
* .d

＃编译的对象文件
* .slo
* .lo
* .o
* .obj
* .ilk
* .pdb
* .log
* .exp

＃预编译标题
* .gch
* .pch

＃编译动态库
* .so
* .dylib
* .dll

＃ Fortran的模块文件
* .mod
* .smod

＃编译静态库
* .lai
* .la
* .a
* .lib

＃可执行文件
* .exe
* .out
* .app
